body,input {
	font-family:Verdana;
	font-size:16px;
}
html, body{height: 96%;}
/*#form{height: 60%;}*/
table {
	border-collapse:collapse;
}

table.pattern td {
	border:1px solid grey;
}

.hide {
	display:none;
}

td.no-border {
	border:none!important;
}

td {
/* 	white-space:nowrap; */
}

td.caption {
	font-style:italic;
}

td.configuration {
	width:28px;
	height:28px;
}

td.scene,td.act {
	height:28px;
}

td.scene,td.act {
	text-align:center;
}

table.result td.role {
	/*width:100px;*/
}

table.search td.role {
	width:28px;
	text-align:center;
}

a,i.fa {
	color:#ac1a2f;
}

.fa {
	margin:10px;
}

a,input,.tooltip,.tooltip-e {
	cursor:pointer;
}

.submit {
	border:1px solid #f2f2f2;
	padding:5px 10px;
	background-color:#f2f2f2;
	color:#757575;
}

.submit:hover {
	border:1px solid grey;
	color:#000;
	box-shadow:1px 1px 1px #888;
}

label {
	font-size:14px;
}

#options span {
	font-size:12px!important;
}

.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl,.ui-button {
	border-radius:0!important;
}

.ui-buttonset {
	margin:0;
}

.logo img {
	width:150px;
}

/*#pattern div.pattern-wrapper{position: absolute;top:40%;}*/






/*#pattern:hover{background-color: #f2f2f2;}*/
#submit {
	margin:auto;
	width:50px;
}


.settings-wrapper:hover {
	/*background-color:#f2f2f2;*/
}



#settings input {
	display:block;
	width:427px!important;
}

/*#settings .ui-buttonset{width:420px;}*/
#settings p {
	font-size:12px;
}

#pattern td:hover {
	background-color:#f2f2f2;
}
.menu{float: right;}

div.lang{float: right;
margin: 2% 4%;}
.lang{
    line-height:1.8;
    font-size: 19px;
    /*font-weight: bold;*/
    text-decoration: none;

}
#header {
	margin:2% 3% 0% 3%;
}

.edit-table img {
	width:20px;
}





/*.ui-buttonset label{width:50%;}*/
.ui-corner-left {
	margin-right:1%!important;
	width:208px;
}

.ui-corner-right {
	margin-left:1%!important;
	width:208px;
}

.ui-state-default {
	border:1px solid #aaa;
	background:#fff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight:400;
	color:#212121;
}

.ui-state-active {
	border:1px solid #d3d3d3;
	background:#e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight:400;
	color:#555;
}

#settings a .fa {
	margin:10px 0;
}

#xpath-play {
	margin-top:25px;
}

.sort-arrow {
	display:none;
}

.tableFilterOccurrences .fltrow td:nth-child(1) input,.tableFilterOccurrences .fltrow td:nth-child(2) input,.tableFilterOccurrences .fltrow td:nth-child(3) input,.tableFilterOccurrences .fltrow td:nth-child(4) input {
	display:none;
}
#corpus .fltrow td:nth-child(1) input,#corpus .fltrow td:nth-child(2) input,#corpus .fltrow td:nth-child(3) input {
	display:none;
}
#play .fltrow td:nth-child(1) input,#play .fltrow td:nth-child(2) input,#play .fltrow td:nth-child(3) input {
	display:none;
}
/*
table#table-results tbody,table#table-results thead {
	display:block;
	width:100%;
}

table#table-results tbody {
	overflow:scroll;
	height:500px;
	width:100%;
}
*/

.view-table,.view-text,.view-source {
	width:25px;
}

.author,.title,.genre {
/* 	width:200px; */
}

.date {
/* 	width:100px; */
}

#table-results .act-n,#table-results .scene-n {
/* 	width:50px; */
}

.tableFilterOccurrences thead .fa, #table-results tbody .fa  {
	margin:0;
}

.tableFilterOccurrences thead .fa {
	margin-left:10px;
}

.tableFilterOccurrences {
	margin:auto;
}

p,li {
	text-align:justify;
}
.res p{text-align: left;}
#table-corpus{
	margin:auto;
}

/*.rdiv{display: none;}*/
/*#tables{
    width:100%;
}
#tables div{
    display: inline-block;
}*/

.tables-container div.table {margin:10px 0;}
/*#graphdiv{width:100%;}*/
.tables-container div table {margin:auto;padding:10px 0;}
.graphcontainer{margin-right: 3%;}
.graphcontainer p{text-align: center;}
/*.patab{width: 100%;margin:auto;padding-bottom: 20px;}*/
.table-container{clear:both;}

#patab-table{float: left;margin-right:15px;}
#div-patab-info{padding-top:100px;margin-left:3%;width:50%;}
.tables-container{height:100%;}
.tables-container div.table{height: 80% !important;overflow: scroll;}
.res, .dygraph-label, .dygraph-axis-label{font-size: 12px;}
.res td.author{width: 120px;max-width: 120px;}
.res td.title{width:150px;max-width:150px;}
.res td.genre{width: 140px;
	max-width: 140px;}
.res td.xpath{width:150px;max-width:150px;}
.res td.date{width: 70px;
	max-width: 70px;}
.res td.view-table, .res td.view-text, .res td.view-source{width: 20px;
	max-width: 20px;}
.res td.act-n, .res td.scene-n{width: 70px;
	max-width: 70px;}
p{margin:0;}
#settings p{margin: 25px 0 15px 0;}
thead .fa{margin-right:5px !important;}
.tables-container{padding-top: 30px;padding-bottom: 60px;}
.patab{height: 300px;}
/*
#patab{display: table;}
#patab div{display: table-cell;}
#patab-table{width:100px;}
#patab-options{width:150px;}
#patab-results
*/

#form{margin:auto;}
#info img{display: block;margin: auto;margin-top:20px;margin-bottom: 20px;}

.scene a{text-decoration: none;color: black;}
.scene:hover{background-color: lightgrey;}
.fltrow td, .fltrow{background-color: inherit !important; border-left: none !important;border-right: none !important;}
tr.fltrow{border-left:1px solid #ccc !important;border-right:1px solid #ccc !important;}
/*.export-link{float: left;}*/

.filter select.text{height: 43px; margin-top:5px;}
.filter label.text{display: block;float: left;min-width: 70px;}
form{display: table;}
.form-block{display: table-cell;}
h4.toggle-pattern:hover{color:#ac1a2f; }
form{width: 80%;margin: auto;}
#pattern{width: 300px;}
.pattern-title h4{text-align: center;}
.edit-table{text-align: center;}
table.search{margin: 17px auto;}
input.submit{margin: auto;
display: block;}
textarea{display: block;margin: 10px auto;}
#table-summary{width:40%;margin: 15px auto;}
.sort-arrow{display: none !important;}
h4{margin: 5px 0 20px 0;}
/*.pattern-results{display: table}*/
/*.patab{display: table-cell;width:35%;}*/
.tables-container{float: left;width:65%;font-size: 12px;}
.patab{margin-left: 65%;}
.pattern-results{clear: both;}
#table-summary .fltrow{display: none;}
textarea, .xpath-field-configuration{font-family: monospace;}
/*

adaptative

*/

#form{
	clear: both;
}
